body {
    background-color: rgb(80, 0, 102, 0.26);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Applying styles to buttons */
button, form input[type=submit] {
    background-color: #1b3a4b;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* Applying hover response on buttons */
button:hover{
    background-color: #006466;
}

h1, h2 {
    color: #272640;
}

/* hiding every section of the quiz in order to show them when needed */
.question_section {
    display: none;
}

div.options {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

div.options button{
    margin-top: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2%;
    width: fit-content;
}

table{
    margin: 10%;
    width: 85%;
}

.scoresHistory{
    display: flex;
    flex-direction: column;
    width: 36%;
    align-items: center;
}

div.intro p{
    text-align: center;
    margin: 0px;
}
div.intro button{
    margin-top: 8%;
}

